
.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
target/archive-tmp/HarryPotterSpells-1.3.1-null.jar
target/classes/br-portuguese.properties
target/classes/com/hpspells/core/api/APIHandler.class
target/classes/com/hpspells/core/api/event/SpellBookRecipeAddEvent.class
target/classes/com/hpspells/core/api/event/SpellEvent.class
target/classes/com/hpspells/core/api/event/SpellHitEvent.class
target/classes/com/hpspells/core/api/event/SpellPostCastEvent.class
target/classes/com/hpspells/core/api/event/SpellPreCastEvent.class
target/classes/com/hpspells/core/api/event/wand/WandCreationEvent.class
target/classes/com/hpspells/core/api/SpellBookRecipe.class
target/classes/com/hpspells/core/command/CommandInfo.class
target/classes/com/hpspells/core/command/GeneralCommand.class
target/classes/com/hpspells/core/command/HCommandExecutor.class
target/classes/com/hpspells/core/command/SpellInfo.class
target/classes/com/hpspells/core/command/SpellList.class
target/classes/com/hpspells/core/command/SpellSwitch.class
target/classes/com/hpspells/core/command/Teach.class
target/classes/com/hpspells/core/command/Unteach.class
target/classes/com/hpspells/core/command/Wand.class
target/classes/com/hpspells/core/configuration/ConfigurationManager$ConfigurationType.class
target/classes/com/hpspells/core/configuration/ConfigurationManager.class
target/classes/com/hpspells/core/configuration/CooldownConfig.class
target/classes/com/hpspells/core/configuration/CustomConfiguration.class
target/classes/com/hpspells/core/configuration/PlayerSpellConfig.class
target/classes/com/hpspells/core/configuration/SpellConfig.class
target/classes/com/hpspells/core/extension/Extension$State.class
target/classes/com/hpspells/core/extension/Extension.class
target/classes/com/hpspells/core/extension/ExtensionLoader.class
target/classes/com/hpspells/core/extension/ExtensionLogger.class
target/classes/com/hpspells/core/extension/ExtensionManager$1.class
target/classes/com/hpspells/core/extension/ExtensionManager.class
target/classes/com/hpspells/core/extension/InvalidExtensionException.class
target/classes/com/hpspells/core/HarryPotterSpells$HackyCommand.class
target/classes/com/hpspells/core/HarryPotterSpells.class
target/classes/com/hpspells/core/Listeners$1.class
target/classes/com/hpspells/core/Listeners$2.class
target/classes/com/hpspells/core/Listeners.class
target/classes/com/hpspells/core/Localisation$Language.class
target/classes/com/hpspells/core/Localisation.class
target/classes/com/hpspells/core/Metrics$AdvancedBarChart.class
target/classes/com/hpspells/core/Metrics$AdvancedPie.class
target/classes/com/hpspells/core/Metrics$CustomChart.class
target/classes/com/hpspells/core/Metrics$DrilldownPie.class
target/classes/com/hpspells/core/Metrics$JsonObjectBuilder$JsonObject.class
target/classes/com/hpspells/core/Metrics$JsonObjectBuilder.class
target/classes/com/hpspells/core/Metrics$MetricsBase.class
target/classes/com/hpspells/core/Metrics$MultiLineChart.class
target/classes/com/hpspells/core/Metrics$SimpleBarChart.class
target/classes/com/hpspells/core/Metrics$SimplePie.class
target/classes/com/hpspells/core/Metrics$SingleLineChart.class
target/classes/com/hpspells/core/Metrics.class
target/classes/com/hpspells/core/PM$1.class
target/classes/com/hpspells/core/PM.class
target/classes/com/hpspells/core/spell/Accio.class
target/classes/com/hpspells/core/spell/Aguamenti$1$1.class
target/classes/com/hpspells/core/spell/Aguamenti$1$2.class
target/classes/com/hpspells/core/spell/Aguamenti$1.class
target/classes/com/hpspells/core/spell/Aguamenti.class
target/classes/com/hpspells/core/spell/AlarteAscendare$1.class
target/classes/com/hpspells/core/spell/AlarteAscendare.class
target/classes/com/hpspells/core/spell/Alohomora$1.class
target/classes/com/hpspells/core/spell/Alohomora.class
target/classes/com/hpspells/core/spell/Aparecium.class
target/classes/com/hpspells/core/spell/AraniaExumai$1.class
target/classes/com/hpspells/core/spell/AraniaExumai.class
target/classes/com/hpspells/core/spell/Arrow.class
target/classes/com/hpspells/core/spell/AvadaKedavra$1.class
target/classes/com/hpspells/core/spell/AvadaKedavra.class
target/classes/com/hpspells/core/spell/Avis.class
target/classes/com/hpspells/core/spell/Bauleo.class
target/classes/com/hpspells/core/spell/BubbleHeadCharm$1.class
target/classes/com/hpspells/core/spell/BubbleHeadCharm.class
target/classes/com/hpspells/core/spell/Colloportus$1.class
target/classes/com/hpspells/core/spell/Colloportus$2.class
target/classes/com/hpspells/core/spell/Colloportus.class
target/classes/com/hpspells/core/spell/Confringo.class
target/classes/com/hpspells/core/spell/Confundo$1.class
target/classes/com/hpspells/core/spell/Confundo.class
target/classes/com/hpspells/core/spell/Crucio$1$1.class
target/classes/com/hpspells/core/spell/Crucio$1.class
target/classes/com/hpspells/core/spell/Crucio.class
target/classes/com/hpspells/core/spell/Deprimo$1$1.class
target/classes/com/hpspells/core/spell/Deprimo$1.class
target/classes/com/hpspells/core/spell/Deprimo.class
target/classes/com/hpspells/core/spell/Duro$1.class
target/classes/com/hpspells/core/spell/Duro.class
target/classes/com/hpspells/core/spell/Enderchest.class
target/classes/com/hpspells/core/spell/Episkey$1.class
target/classes/com/hpspells/core/spell/Episkey.class
target/classes/com/hpspells/core/spell/Evanesco$1.class
target/classes/com/hpspells/core/spell/Evanesco.class
target/classes/com/hpspells/core/spell/ExpectoPatronum$1.class
target/classes/com/hpspells/core/spell/ExpectoPatronum.class
target/classes/com/hpspells/core/spell/Expelliarmus$1.class
target/classes/com/hpspells/core/spell/Expelliarmus.class
target/classes/com/hpspells/core/spell/FiniteIncantatem$1.class
target/classes/com/hpspells/core/spell/FiniteIncantatem.class
target/classes/com/hpspells/core/spell/FlameFreezingCharm.class
target/classes/com/hpspells/core/spell/Flipendo$1.class
target/classes/com/hpspells/core/spell/Flipendo.class
target/classes/com/hpspells/core/spell/Glacius$1$1.class
target/classes/com/hpspells/core/spell/Glacius$1.class
target/classes/com/hpspells/core/spell/Glacius.class
target/classes/com/hpspells/core/spell/HomenumRevelio.class
target/classes/com/hpspells/core/spell/Incendio$1.class
target/classes/com/hpspells/core/spell/Incendio.class
target/classes/com/hpspells/core/spell/interfaces/Craftable.class
target/classes/com/hpspells/core/spell/Legilimens$1$1.class
target/classes/com/hpspells/core/spell/Legilimens$1.class
target/classes/com/hpspells/core/spell/Legilimens.class
target/classes/com/hpspells/core/spell/MagnaTonitrus$1.class
target/classes/com/hpspells/core/spell/MagnaTonitrus.class
target/classes/com/hpspells/core/spell/Morsmordre.class
target/classes/com/hpspells/core/spell/Multicorfors$1$1.class
target/classes/com/hpspells/core/spell/Multicorfors$1.class
target/classes/com/hpspells/core/spell/Multicorfors.class
target/classes/com/hpspells/core/spell/Obliviate$1.class
target/classes/com/hpspells/core/spell/Obliviate.class
target/classes/com/hpspells/core/spell/Obscuro$1.class
target/classes/com/hpspells/core/spell/Obscuro$ObscuroRunnable.class
target/classes/com/hpspells/core/spell/Obscuro.class
target/classes/com/hpspells/core/spell/Orchideous$1.class
target/classes/com/hpspells/core/spell/Orchideous.class
target/classes/com/hpspells/core/spell/PetrificusTotalus$1$1.class
target/classes/com/hpspells/core/spell/PetrificusTotalus$1.class
target/classes/com/hpspells/core/spell/PetrificusTotalus.class
target/classes/com/hpspells/core/spell/PointMe.class
target/classes/com/hpspells/core/spell/Reducto$1.class
target/classes/com/hpspells/core/spell/Reducto$2.class
target/classes/com/hpspells/core/spell/Reducto.class
target/classes/com/hpspells/core/spell/RefillingCharm.class
target/classes/com/hpspells/core/spell/Reparo.class
target/classes/com/hpspells/core/spell/Sectumsempra$1.class
target/classes/com/hpspells/core/spell/Sectumsempra$SectumsempraRunnable.class
target/classes/com/hpspells/core/spell/Sectumsempra.class
target/classes/com/hpspells/core/spell/Silencio$1$1.class
target/classes/com/hpspells/core/spell/Silencio$1.class
target/classes/com/hpspells/core/spell/Silencio.class
target/classes/com/hpspells/core/spell/Sonorus$1.class
target/classes/com/hpspells/core/spell/Sonorus.class
target/classes/com/hpspells/core/spell/Spell$SpellInfo.class
target/classes/com/hpspells/core/spell/Spell.class
target/classes/com/hpspells/core/spell/SpellManager$1.class
target/classes/com/hpspells/core/spell/SpellManager.class
target/classes/com/hpspells/core/spell/SpellNotification.class
target/classes/com/hpspells/core/spell/Spongify$1.class
target/classes/com/hpspells/core/spell/Spongify.class
target/classes/com/hpspells/core/spell/Stupefy$1.class
target/classes/com/hpspells/core/spell/Stupefy.class
target/classes/com/hpspells/core/spell/TimeSpell.class
target/classes/com/hpspells/core/spell/TreeSpell$1.class
target/classes/com/hpspells/core/spell/TreeSpell.class
target/classes/com/hpspells/core/spell/Weather.class
target/classes/com/hpspells/core/spell/WingardiumLeviosa$1.class
target/classes/com/hpspells/core/spell/WingardiumLeviosa.class
target/classes/com/hpspells/core/spell/Workbench.class
target/classes/com/hpspells/core/SpellTargeter$1.class
target/classes/com/hpspells/core/SpellTargeter$2.class
target/classes/com/hpspells/core/SpellTargeter$3.class
target/classes/com/hpspells/core/SpellTargeter$4.class
target/classes/com/hpspells/core/SpellTargeter$SpellHitEvent.class
target/classes/com/hpspells/core/SpellTargeter.class
target/classes/com/hpspells/core/util/BlockUtils$1$1.class
target/classes/com/hpspells/core/util/BlockUtils$1$2.class
target/classes/com/hpspells/core/util/BlockUtils$1.class
target/classes/com/hpspells/core/util/BlockUtils.class
target/classes/com/hpspells/core/util/FileExtensionFilter.class
target/classes/com/hpspells/core/util/FireworkEffectPlayer.class
target/classes/com/hpspells/core/util/HPSParticle.class
target/classes/com/hpspells/core/util/MetricStatistics.class
target/classes/com/hpspells/core/util/MiscUtilities.class
target/classes/com/hpspells/core/util/OldParticleEffect.class
target/classes/com/hpspells/core/util/ParticleEffect$BlockData.class
target/classes/com/hpspells/core/util/ParticleEffect$ItemData.class
target/classes/com/hpspells/core/util/ParticleEffect$NoteColor.class
target/classes/com/hpspells/core/util/ParticleEffect$OrdinaryColor.class
target/classes/com/hpspells/core/util/ParticleEffect$ParticleColor.class
target/classes/com/hpspells/core/util/ParticleEffect$ParticleColorException.class
target/classes/com/hpspells/core/util/ParticleEffect$ParticleData.class
target/classes/com/hpspells/core/util/ParticleEffect$ParticleDataException.class
target/classes/com/hpspells/core/util/ParticleEffect$ParticlePacket$PacketInstantiationException.class
target/classes/com/hpspells/core/util/ParticleEffect$ParticlePacket$PacketSendingException.class
target/classes/com/hpspells/core/util/ParticleEffect$ParticlePacket$VersionIncompatibleException.class
target/classes/com/hpspells/core/util/ParticleEffect$ParticlePacket.class
target/classes/com/hpspells/core/util/ParticleEffect$ParticleProperty.class
target/classes/com/hpspells/core/util/ParticleEffect$ParticleVersionException.class
target/classes/com/hpspells/core/util/ParticleEffect.class
target/classes/com/hpspells/core/util/ReflectionsReplacement.class
target/classes/com/hpspells/core/util/ReflectionUtils$DataType.class
target/classes/com/hpspells/core/util/ReflectionUtils$PackageType.class
target/classes/com/hpspells/core/util/ReflectionUtils.class
target/classes/com/hpspells/core/util/SVPBypass.class
target/classes/com/hpspells/core/util/Targeter.class
target/classes/com/hpspells/core/WandManager$WandLore.class
target/classes/com/hpspells/core/WandManager.class
target/classes/config.yml
target/classes/cooldown.yml
target/classes/de-german.properties
target/classes/es-spanish.properties
target/classes/it-italian.properties
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/com.hpspells/core/pom.properties
target/classes/META-INF/maven/com.hpspells/core/pom.xml
target/classes/nl-dutch.properties
target/classes/PlayerSpellConfig.yml
target/classes/plugin.yml
target/classes/spells.yml
target/classes/stats-url.txt
target/classes/us-english.properties
target/classes/zh-chinese.properties
target/HarryPotterSpells-1.3.1-null.jar
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
